@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GorditaRegular'), url('./fonts/gordita/Gordita Regular.woff') format('woff');
  }
  @font-face {
        font-family: 'Gordita Light';
        font-style: normal;
        font-weight: normal;
        src: local('Gordita Light'), url('./fonts/gordita/Gordita Light.woff') format('woff');
  }
  @font-face {
    font-family: 'Gordita Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold'), url('./fonts/gordita/Gordita Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('./fonts/gordita/Gordita Medium.woff') format('woff');
    }